<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.lixian.myviewdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PieActivity">
        </activity>
    </application>

    <!--设定多分辨率支持避免Android系统会将240x320的低密度（120）尺寸转换为中等密度（160）对应的尺寸-->
   <!-- <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />-->

</manifest>